@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDo</h1>
   <h3>Keep all your ToDo lists in one place!</h3>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lists</h2>
        <p>
           Create individual lists to help keep your ToDos in the correct places. 
        </p>       
        <h4><a class="btn btn-default" @Html.ActionLink("List", "Index","Lists")</a></h4>
    </div>
    <div class="col-md-4">
        <h2>Items</h2>
        <p>Add items to list.</p>
        <h4><a class="btn btn-default" @Html.ActionLink("Item", "Index", "Items")</a></h4>
    </div>
  
</div>